<template>
    <dashboard-content> </dashboard-content>
</template>
<style lang="scss"></style>
<script>
import DashboardContent from "./Content.vue";

export default {
  components: {
    DashboardContent
  }
};
</script>
