<template>
  <div>
    <md-table :table-header-color="tableHeaderColor">
      <md-table-row slot="md-table-row" v-for="data in users" :key="data.id">
        <md-table-cell md-label="Email">{{ data.email }}</md-table-cell>
        <md-table-cell md-label="Name">{{ data.name }}</md-table-cell>
        <md-table-cell md-label="Phone Number">{{ data.phone_number }}</md-table-cell>
      </md-table-row>
    </md-table>
  </div>
</template>

<script>
import Vue from 'vue';
import axios from 'axios';
import VueAxios from 'vue-axios';
Vue.use(VueAxios, axios);

export default {
  name: "simple-table",
  props: {
    tableHeaderColor: {
      type: String,
      default: ""
    }
  },
  data(){
      return {
          users: null
      }
  },
  methods: {
    fetchUserData(){
        console.log("%cFETCHING...", "color: green;");
        axios
        .post('http://192.168.0.104:8003/graphql', {
          query: `
            query {
              user {
                name
                email
                phone_number
              }
            }
          `
        },
        {
          headers: {
            'Content-type': 'application/json'
          }
        })
        .then(response => {
          console.log(response.data.data)
          if(response){
            if(response.data.data.user){
              this.users = response.data.data.user
            }
          }
        })
        .catch(error => console.log(error))
    }
  },
  mounted () {
      this.fetchUserData();
  }  
};



// export default {
//   name: "simple-table",
//   props: {
//     tableHeaderColor: {
//       type: String,
//       default: ""
//     }
//   },
//   data() {
//     return {
//       selected: [],
//       users: [
//         {
//           name: "Dakota Rice",
//           salary: "$36,738",
//           country: "Niger",
//           city: "Oud-Turnhout"
//         },
//         {
//           name: "Minerva Hooper",
//           salary: "$23,738",
//           country: "Curaçao",
//           city: "Sinaai-Waas"
//         },
//         {
//           name: "Sage Rodriguez",
//           salary: "$56,142",
//           country: "Netherlands",
//           city: "Overland Park"
//         },
//         {
//           name: "Philip Chaney",
//           salary: "$38,735",
//           country: "Korea, South",
//           city: "Gloucester"
//         },
//         {
//           name: "Doris Greene",
//           salary: "$63,542",
//           country: "Malawi",
//           city: "Feldkirchen in Kārnten"
//         },
//         {
//           name: "Mason Porter",
//           salary: "$78,615",
//           country: "Chile",
//           city: "Gloucester"
//         }
//       ]
//     };
//   }
//};
</script>