<template>
  <form v-on:submit.prevent="postNow">
    <md-card>
      <md-card-header :data-background-color="dataBackgroundColor">
        <h4 class="title">Tambah Pengguna</h4>
        <!-- <p class="category">Fill all fields</p> -->
      </md-card-header>
        <md-card-content>
          <div class="md-layout">
            <!-- <rotate-square2 style="margin: auto; padding: 10px;"> -->
            <div class="md-layout-item md-small-size-100 md-size-100">
              <md-field>
                <label>Email Address</label>
                <md-input v-model="user.email" type="email"></md-input>
              </md-field>
            </div>
            <div class="md-layout-item md-small-size-100 md-size-100">
              <md-field>
                <label>Full Name</label>
                <md-input v-model="user.name" type="text"></md-input>
              </md-field>
            </div>
            <div class="md-layout-item md-small-size-100 md-size-100">
              <md-field>
                <label>password</label>
                <md-input v-model="user.password" type="password"></md-input>
              </md-field>
            </div>
            <!-- <div class="md-layout-item md-small-size-100 md-size-100">
              <md-field>
                <label>Phone Number</label>
                <md-input v-model="user.phone_number" type="number"></md-input>
              </md-field>
            </div> -->
            <div class="md-layout-item md-size-100 text-right">
              <md-button class="md-raised md-success" type="submit">Simpan</md-button>
            </div>
            <!-- </rotate-square2> -->
            
          </div>
        </md-card-content>
    </md-card>
  </form>
</template>

<script>
  import Vue from 'vue';
  import axios from 'axios';
  import VueAxios from 'vue-axios';
  import {RotateSquare2} from 'vue-loading-spinner';
  Vue.use(VueAxios, axios);
  export default {
    name: "add-user-form",
    props: {
      dataBackgroundColor: {
        type: String,
        default: ""
      }
    },
    components: {
      RotateSquare2
    },
    mounted() {
        console.log('Component mounted.')
    },
    data() {
        return {
            type: ["", "info", "success", "primary", "warning", "danger"],
            user: {
                email: null,
                name: null,
                password: null,
                phone_number: null
            },
            status: null,
            loading: true,
            loadingCubeHeader: '<rotate-square2 style="margin: auto; padding: 10px;">',
            loadingCubeFooter: '</rotate-square2>'
        }
    },
    methods: {
        postNow: function() {
            axios.post('http://192.168.0.104:8003/graphql', {
              query: `
                mutation {
                  createUser(
                    name: "${this.user.name}",
                    email: "${this.user.email}",
                    password: "${this.user.password}",
                    phone_number: "${this.user.phone_number}"
                  ) {
                    name
                    email
                    password
                    phone_number
                  }
                }
              `
            }, 
            {
                headers: {
                    'Content-type': 'application/json',
                    'Authorization': 'bearer ' + localStorage.getItem('token')
                }
            })
            .then(r => {
                    console.log(r);
                    if(r){
                      if(r['data']['data']['createUser'] != null){
                        this.user = []
                        this.$emit("refresh")
                        this.status = 'success'
                        this.icon = 'add'
                        this.message = 'New user has been added.'
                        this.notifyVue('top', 'center')
                      }
                      if(r['data']['errors']){
                        this.status = 'failed'
                        this.icon = 'shield'
                        this.message = 'Failed to add user.'
                        this.notifyVue('top', 'center')
                      }
                    }else{
                      this.status = 'failed'
                      this.message = 'Failed to add user.'
                      this.notifyVue('top', 'center')
                    }
                }
            )
            .catch(() => alert("Gagal menambah data"));
        },
        notifyVue(verticalAlign, horizontalAlign) {
          var color = 0;
          if(this.status == 'success'){
            color = 3
          }else{
            color = 5
          }
          this.$notify({
            message: this.message,
            icon: this.icon,
            horizontalAlign: horizontalAlign,
            verticalAlign: verticalAlign,
            type: this.type[color]
          });
        }
    }
  }

// export default {
//   name: "edit-profile-form",
//   props: {
//     dataBackgroundColor: {
//       type: String,
//       default: ""
//     }
//   },
//   data() {
//     return {
//       username: null,
//       disabled: null,
//       emailadress: null,
//       lastname: null,
//       firstname: null,
//       address: null,
//       city: null,
//       country: null,
//       code: null,
//       aboutme:
//         "Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo."
//     };
//   }
// };
</script>