<template>
  <form v-on:submit.prevent="postNow">
    <md-card>
      <md-card-header :data-background-color="dataBackgroundColor">
        <h4 class="title">Edit User</h4>
        <p class="category">Fill all fields</p>
      </md-card-header>
        <md-card-content>
          <div class="md-layout">
            <!-- <rotate-square2 style="margin: auto; padding: 10px;"> -->
            <div class="md-layout-item md-small-size-100 md-size-100">
              <md-field>
                <label>Email Address</label>
                <md-input v-model="user.email" type="email"></md-input>
              </md-field>
            </div>
            <div class="md-layout-item md-small-size-100 md-size-100">
              <md-field>
                <label>Full Name</label>
                <md-input v-model="user.name" type="text"></md-input>
              </md-field>
            </div>
            <div class="md-layout-item md-small-size-100 md-size-100">
              <md-field>
                <label>password</label>
                <md-input v-model="user.password" type="password"></md-input>
              </md-field>
            </div>
            <!-- <div class="md-layout-item md-small-size-100 md-size-100">
              <md-field>
                <label>Phone Number</label>
                <md-input v-model="user.phone_number" type="number"></md-input>
              </md-field>
            </div> -->
            <div class="md-layout-item md-size-50 text-left">
              <md-button class="md-raised md-default" v-on:click="back()">Back</md-button>
            </div>
            <div class="md-layout-item md-size-50 text-right">
              <md-button class="md-raised md-success" type="submit">Update User</md-button>
            </div>
            <!-- </rotate-square2> -->
            
          </div>
        </md-card-content>
    </md-card>
  </form>
</template>

<script>
  import Vue from 'vue';
  import axios from 'axios';
  import VueAxios from 'vue-axios';
  import {RotateSquare2} from 'vue-loading-spinner';
  Vue.use(VueAxios, axios);
  export default {
    name: "edit-user-form",
    props: {
      dataBackgroundColor: {
        type: String,
        default: ""
      }
    },
    components: {
      RotateSquare2
    },
    mounted() {
        console.log('Component mounted.')
        this.fetchUserData()
    },
    data() {
        return {
            data: [],
            type: ["", "info", "success", "primary", "warning", "danger"],
            user: {
                email: null,
                name: null,
                password: null,
                phone_number: null
            },
            status: null,
            userId: this.$route.query.userId,
            queryUpdate: null
        }
    },
    methods: {
        postNow: function() {
            if(this.user.password != null){
                this.queryUpdate = `
                                mutation {
                                    updateUser (
                                        id: ${this.userId},
                                        name: "${this.user.name}",
                                        email: "${this.user.email}",
                                        password: "${this.user.password}",
                                        phone_number: "${this.user.phone_number}"
                                    ) {
                                        name
                                        email
                                        password
                                        phone_number
                                    }
                                }
                            `
            }else{
                this.queryUpdate = `
                                    mutation {
                                        updateUser (
                                            id: ${this.userId},
                                            name: "${this.user.name}",
                                            email: "${this.user.email}",
                                            phone_number: "${this.user.phone_number}"
                                        ) {
                                            name
                                            email
                                            password
                                            phone_number
                                        }
                                    }
                                `
            }
            axios.post('http://192.168.0.104:8003/graphql', {
              query: this.queryUpdate
            }, 
            {
                headers: {
                    'Content-type': 'application/json',
                    'Authorization': 'bearer ' + localStorage.getItem('token')
                }
            })
            .then(r => {
                    console.log(r);
                    if(r){
                      if(r['data']['data']['updateUser'] != null){
                        this.user = []
                        this.$emit("refresh")
                        this.status = 'success'
                        this.icon = 'add'
                        this.message = 'User has been updated.'
                        this.notifyVue('bottom', 'center')
                        this.back()
                      }
                      if(r['data']['errors']){
                        this.status = 'failed'
                        this.icon = 'shield'
                        this.message = 'Failed to update user.'
                        this.notifyVue('bottom', 'center')
                        this.back()
                      }
                    }else{
                      this.status = 'failed'
                      this.message = 'Failed to update user.'
                      this.notifyVue('top', 'center')
                      this.back()
                    }
                }
            )
            .catch(() => alert("Gagal menambah data"));
        },
        fetchUserData(){
            console.log("%cFETCHING...", "color: purple;");
            axios
            .post('http://192.168.0.104:8003/graphql', {
            query: `
                query {
                user (id:${this.userId}){
                    id
                    name
                    email
                    password
                    phone_number
                }
                }
            `
            },
            {
            headers: {
                'Content-type': 'application/json',
                'Authorization': 'bearer ' + localStorage.getItem('token')
            }
            })
            .then(response => {
            console.log(response)
            if(response){
                if(response.data.data.user){
                    this.data = response.data.data.user[0]
                    this.user.email = this.data.email
                    this.user.name = this.data.name
                    this.user.phone_number = this.data.phone_number
                }
            }else{
                this.userData = null
            }
            })
            .catch(error => console.log(error))
        },
        back(){
          this.$router.push({path: 'user'})
        },
        notifyVue(verticalAlign, horizontalAlign) {
          var color = 0;
          if(this.status == 'success'){
            color = 3
          }else{
            color = 5
          }
          this.$notify({
            message: this.message,
            icon: this.icon,
            horizontalAlign: horizontalAlign,
            verticalAlign: verticalAlign,
            type: this.type[color]
          });
        }
    }
  }
</script>