<template>
  <div class="content">
    <form v-on:submit.prevent="postNow">
      <div class="md-layout">
        <div class="md-layout-item md-medium-size-60 md-xsmall-size-60 md-size-67">
          <md-datepicker v-model="absensi.tgl_apel" />
        </div>
      </div>

      <div class="md-layout">
        <div class="md-layout-item md-medium-size-50 md-xsmall-size-100 md-size-33">
          <stats-card data-background-color="green" :showFooter="false">
            <template slot="header">
              <md-icon>supervisor_account</md-icon>
            </template>

            <template slot="content">
              <md-field>
                <label>Jumlah Pegawai</label>
                <md-input v-model="absensi.jumlah_pegawai" type="number"></md-input>
              </md-field>
            </template>
          </stats-card>
        </div>

        <div class="md-layout-item md-medium-size-50 md-xsmall-size-100 md-size-33">
          <stats-card data-background-color="blue" :showFooter="false">
            <template slot="header">
              <md-icon>assignment_turned_in</md-icon>
            </template>

            <template slot="content">
              <md-field>
                <label>Pegawai Hadir</label>
                <md-input v-model="absensi.pegawai_hadir" type="number"></md-input>
              </md-field>
            </template>
          </stats-card>
        </div>

        <div class="md-layout-item md-medium-size-50 md-xsmall-size-100 md-size-33">
          <stats-card data-background-color="red" :showFooter="false">
            <template slot="header">
              <md-icon>local_hospital</md-icon>
            </template>

            <template slot="content">
              <md-field>
                <label>Sakit</label>
                <md-input v-model="absensi.sakit" type="number"></md-input>
              </md-field>
            </template>
          </stats-card>
        </div>

        <div class="md-layout-item md-medium-size-50 md-xsmall-size-100 md-size-33">
          <stats-card data-background-color="purple" :showFooter="false">
            <template slot="header">
              <md-icon>directions</md-icon>
            </template>

            <template slot="content">
              <md-field>
                <label>Izin</label>
                <md-input v-model="absensi.izin" type="number"></md-input>
              </md-field>
            </template>
          </stats-card>
        </div>

        <div class="md-layout-item md-medium-size-50 md-xsmall-size-100 md-size-33">
          <stats-card data-background-color="orange" :showFooter="false">
            <template slot="header">
              <md-icon>report_problem</md-icon>
            </template>

            <template slot="content">
              <md-field>
                <label>Diklat</label>
                <md-input v-model="absensi.diklat" type="number"></md-input>
              </md-field>
            </template>
          </stats-card>
        </div>

        <div class="md-layout-item md-medium-size-50 md-xsmall-size-100 md-size-33">
          <stats-card data-background-color="grey" :showFooter="false">
            <template slot="header">
              <md-icon>help</md-icon>
            </template>

            <template slot="content">
              <md-field>
                <label>Tanpa Keterangan</label>
                <md-input v-model="absensi.tanpa_keterangan" type="number"></md-input>
              </md-field>
            </template>
          </stats-card>
        </div>

        <div class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100">
          <md-button class="md-raised md-success" type="submit">Simpan</md-button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
  import {
    StatsCard,
  } from "@/components";
  import Vue from 'vue';
  import axios from 'axios';
  import VueAxios from 'vue-axios';
  Vue.use(VueAxios, axios);

  function convert(str) {
    var date = new Date(str),
        mnth = ("0" + (date.getMonth()+1)).slice(-2),
        day  = ("0" + date.getDate()).slice(-2);
    return [ date.getFullYear(), mnth, day ].join("-");
  }

  export default {
    name: 'Absensi',
    components: {
      StatsCard,
    },
    mounted(){
      console.log('Component mounted...')
    },
    data: () => ({
      type: ["", "info", "success", "primary", "warning", "danger"],
      status: null,
      absensi: {
        jumlah_pegawai: null,
        pegawai_hadir: null,
        sakit: null,
        izin: null,
        diklat: null,
        tanpa_keterangan: null,
        tgl_apel: new Date(),
      },
    }),
    methods: {
      postNow: function(){
        axios.post('http://192.168.0.104:8003/graphql', {
          query: `
            mutation {
              addAbsensi(
                email: "${localStorage.getItem('email')}",
                jumlah_pegawai: ${this.absensi.jumlah_pegawai},
                pegawai_hadir: ${this.absensi.pegawai_hadir},
                sakit: ${this.absensi.sakit},
                izin: ${this.absensi.izin},
                diklat: ${this.absensi.diklat},
                tanpa_keterangan: ${this.absensi.tanpa_keterangan},
                tgl_apel: "${convert(this.absensi.tgl_apel)}"
              ) {
                jumlah_pegawai
                pegawai_hadir
                sakit
                izin
                diklat
                tanpa_keterangan
                tgl_apel
              }
            }
          `
        },
        {
          headers: {
            'Content-type': 'application/json',
            'Authorization': 'bearer ' + localStorage.getItem('token')
          }
        })
        .then(r => {
          console.log(r);
          if(r){
            if(r.data.data.addAbsensi != null){
              this.absensi = [];
              this.status = 'success';
              this.icon = 'add';
              this.message = 'New user has been added.';
              this.notifyVue('top', 'center');
            }
            if(r['data']['errors']){
              this.status = 'failed';
              this.icon = 'shield';
              this.message = 'Failed to add user.';
              this.notifyVue('top', 'center');
            }
          }else{
            this.status = 'failed';
            this.message = 'Failed to add user.';
            this.notifyVue('top', 'center');
          }
        })
        .catch(() => alert("Gagal menambah data"));
      },
      notifyVue(verticalAlign, horizontalAlign) {
        var color = 0;
        if(this.status == 'success'){
          color = 3
        }else{
          color = 5
        }
        this.$notify({
          message: this.message,
          icon: this.icon,
          horizontalAlign: horizontalAlign,
          verticalAlign: verticalAlign,
          type: this.type[color]
        });
      }
    },
    created () {
      
    }
  }
</script>

<style lang="scss" scoped>
  .md-field {
    max-width: 300px;
    width: inherit;
  }
  .md-card .md-card-actions {
    display: none !important;
  }
</style>