<template>
  <div class="content">
    <div class="md-layout">
      <div class="md-layout-item md-medium-size-60 md-xsmall-size-60 md-size-67">
        <md-datepicker v-model="tgl_apel_picker" @input="changeAbsensi($event)" />
      </div>
    </div>

    <div class="md-layout">
      <div class="md-layout-item md-medium-size-50 md-xsmall-size-100 md-size-33">
        <stats-card data-background-color="green">
          <template slot="header">
            <md-icon>supervisor_account</md-icon>
          </template>

          <template slot="content">
            <p class="category">JUMLAH PEGAWAI</p>
            <h3 class="title">{{ data_absen.jumlah_pegawai }}</h3>
          </template>

          <template slot="footer">
            <div class="stats">
              <md-icon>date_range</md-icon>
              {{ data_absen.tgl_apel }}
            </div>
          </template>
        </stats-card>
      </div>
      <div class="md-layout-item md-medium-size-50 md-xsmall-size-100 md-size-33">
        <stats-card data-background-color="blue">
          <template slot="header">
            <md-icon>assignment_turned_in</md-icon>
          </template>

          <template slot="content">
            <p class="category">PEGAWAI HADIR</p>
            <h3 class="title">{{ data_absen.pegawai_hadir }}</h3>
          </template>

          <template slot="footer">
            <div class="stats">
              <md-icon>date_range</md-icon>
              {{ data_absen.tgl_apel }}
            </div>
          </template>
        </stats-card>
      </div>
      <div class="md-layout-item md-medium-size-50 md-xsmall-size-100 md-size-33">
        <stats-card data-background-color="red">
          <template slot="header">
            <md-icon>local_hospital</md-icon>
          </template>

          <template slot="content">
            <p class="category">SAKIT</p>
            <h3 class="title">{{ data_absen.sakit }}</h3>
          </template>

          <template slot="footer">
            <div class="stats">
              <md-icon>date_range</md-icon>
              {{ data_absen.tgl_apel }}
            </div>
          </template>
        </stats-card>
      </div>
      <div class="md-layout-item md-medium-size-50 md-xsmall-size-100 md-size-33">
        <stats-card data-background-color="purple">
          <template slot="header">
            <md-icon>directions</md-icon>
          </template>

          <template slot="content">
            <p class="category">IZIN</p>
            <h3 class="title">{{ data_absen.izin }}</h3>
          </template>

          <template slot="footer">
            <div class="stats">
              <md-icon>date_range</md-icon>
              {{ data_absen.tgl_apel }}
            </div>
          </template>
        </stats-card>
      </div>
      <div class="md-layout-item md-medium-size-50 md-xsmall-size-100 md-size-33">
        <stats-card data-background-color="orange">
          <template slot="header">
            <md-icon>report_problem</md-icon>
          </template>

          <template slot="content">
            <p class="category">DIKLAT</p>
            <h3 class="title">{{ data_absen.diklat }}</h3>
          </template>

          <template slot="footer">
            <div class="stats">
              <md-icon>date_range</md-icon>
              {{ data_absen.tgl_apel }}
            </div>
          </template>
        </stats-card>
      </div>
      <div class="md-layout-item md-medium-size-50 md-xsmall-size-100 md-size-33">
        <stats-card data-background-color="grey">
          <template slot="header">
            <md-icon>help</md-icon>
          </template>

          <template slot="content">
            <p class="category">TANPA KETERANGAN</p>
            <h3 class="title">{{ data_absen.tanpa_keterangan }}</h3>
          </template>

          <template slot="footer">
            <div class="stats">
              <md-icon>date_range</md-icon>
              {{ data_absen.tgl_apel }}
            </div>
          </template>
        </stats-card>
      </div>
      <div class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100">
        <md-card>
          <md-card-header data-background-color="green">
            <h4 class="title">User Absensi</h4>
          </md-card-header>
          <md-card-content>
            <div>
              <md-table v-model="users" :table-header-color="tableHeaderColor">
                <md-table-row slot="md-table-row" slot-scope="{ item }" :key="item.id">
                  <md-table-cell md-label="Petugas" md-sort-by="email">{{ item.email }}</md-table-cell>
                  <md-table-cell md-label="Jumlah Pegawai" md-sort-by="jumlah_pegawai">{{ item.jumlah_pegawai }}</md-table-cell>
                  <md-table-cell md-label="Pegawai Hadir" md-sort-by="pegawai_hadir">{{ item.pegawai_hadir }}</md-table-cell>
                  <md-table-cell md-label="Sakit" md-sort-by="sakit">{{ item.sakit }}</md-table-cell>
                  <md-table-cell md-label="Izin" md-sort-by="izin">{{ item.izin }}</md-table-cell>
                  <md-table-cell md-label="Diklat" md-sort-by="diklat">{{ item.diklat }}</md-table-cell>
                  <md-table-cell md-label="Tanpa Keterangan" md-sort-by="tanpa_keterangan">{{ item.tanpa_keterangan }}</md-table-cell>
                  <md-table-cell md-label="Tanggal Apel" md-sort-by="tgl_apel">{{ item.tgl_apel }}</md-table-cell>
                </md-table-row>
              </md-table>
            </div>
          </md-card-content>
        </md-card>
      </div>
    </div>
  </div>
</template>

<script>
import {
  StatsCard,
  ChartCard,
  NavTabsCard,
  NavTabsTable,
  OrderedTable
} from "@/components";
import Vue from 'vue';
import axios from 'axios';
import VueAxios from 'vue-axios';
Vue.use(VueAxios, axios);

function convert(str) {
  var date = new Date(str),
      mnth = ("0" + (date.getMonth()+1)).slice(-2),
      day  = ("0" + date.getDate()).slice(-2);
  return [ date.getFullYear(), mnth, day ].join("-");
}

export default {
  components: {
    StatsCard,
    ChartCard,
    NavTabsCard,
    NavTabsTable,
    OrderedTable
  },
  props: {
    tableHeaderColor: {
      type: String,
      default: ""
    }
  },
  data: () => ({
    users: [],
    tgl_apel_picker: "",
    data_absen: []
  }),
  methods: {
    fetchAbsensiData(){
      console.log("%cFETCHING...", "color: purple;");
      axios
      .post('http://192.168.0.104:8003/graphql', {
        query: `
          query {
            getAbsensi (query_type: "table", tgl_apel: "${this.tgl_apel_picker}") {
              name
              email
              jumlah_pegawai
              pegawai_hadir
              sakit
              izin
              diklat
              tanpa_keterangan
              tgl_apel
            }
          }
        `
      },
      {
        headers: {
          'Content-type': 'application/json',
          'Authorization': 'bearer ' + localStorage.getItem('token')
        }
      })
      .then(response => {
        console.log(response)
        if(response){
          if(response.data.data.getAbsensi){
            this.users = response.data.data.getAbsensi
          }
        }else{
          this.users = []
        }
      })
      .catch(error => console.log(error))
    },
    getTotalAbsen(){
      console.log("%cFETCHING...", "color: purple;");
      if(this.tgl_apel_picker != ""){
        this.tgl_apel_picker = convert(this.tgl_apel_picker);
      }
      axios
      .post('http://192.168.0.104:8003/graphql', {
        query: `
          query {
            getAbsensi (query_type: "card", tgl_apel: "${this.tgl_apel_picker}") {
              jumlah_pegawai
              pegawai_hadir
              izin
              sakit
              diklat
              tanpa_keterangan
              tgl_apel
            }
          }
        `
      },
      {
        headers: {
          'Content-type': 'application/json',
          'Authorization': 'bearer ' + localStorage.getItem('token')
        }
      })
      .then(response => {
        console.log(response)
        if(response){
          if(response.data.data.getAbsensi.length > 0){
            this.data_absen = response.data.data.getAbsensi[0];
            this.tgl_apel_picker = this.data_absen.tgl_apel
          }else{
              console.log('asdas')
              this.data_absen = []
          }
        }else{
              this.data_absen = []
        }
      })
      .catch(error => console.log(error))
    },
    changeAbsensi: function(event){
      console.log('changed')
      this.getTotalAbsen()
      this.fetchAbsensiData()
    }
  },
  created () {
    this.searched = this.users
  },
  mounted(){
    this.getTotalAbsen()
    this.fetchAbsensiData()
  }
};
</script>

<style lang="scss" scoped>
  .md-field {
    max-width: 300px;
  }
</style>