<template>
  <div class="content">
    <div class="md-layout">
      <div class="md-layout-item md-medium-size-100 md-size-100">
        <edit-user-form data-background-color="green"> </edit-user-form>
      </div>
    </div>
  </div>
</template>

<script>
import { EditUserForm, UserCard } from "@/pages";
import { SimpleTable } from "@/components";
import 'vue-material/dist/vue-material.min.css';
import 'vue-material/dist/theme/default.css';
import {RotateSquare2} from 'vue-loading-spinner';

import Vue from 'vue';
import axios from 'axios';
import VueAxios from 'vue-axios';
Vue.use(VueAxios, axios);

export default {
  components: {
    EditUserForm,
    UserCard,
    SimpleTable,
    RotateSquare2
  }
}
</script>