<template>
  <div class="content">
    <div class="md-layout">

      <div class="md-layout-item md-medium-size-100 md-size-33">
        <add-user-form data-background-color="green" @refresh="fetchUserData"> </add-user-form>
      </div>

      <div class="md-layout-item md-medium-size-100 md-size-66">
        <md-card>
          <md-card-header data-background-color="green">
            <h4 class="title">Data Pengguna</h4>
          </md-card-header>

          <md-card-content>
            <div>
              <md-table v-model="users" :table-header-color="tableHeaderColor">
                <md-table-row slot="md-table-row" slot-scope="{ item }" :key="item.id">
                  <md-table-cell md-label="Email">{{ item.email }}</md-table-cell>
                  <md-table-cell md-label="Name">{{ item.name }}</md-table-cell>
                  <!-- <md-table-cell md-label="Phone Number">{{ item.phone_number }}</md-table-cell> -->
                  <md-table-cell md-label="Action">
                    <md-button class="md-just-icon md-simple md-primary" v-on:click="editUser(item.id)">
                      <md-icon>edit</md-icon>
                      <md-tooltip md-direction="top">Edit</md-tooltip>
                    </md-button>
                    <md-dialog-confirm
                      :md-active.sync="active"
                      md-title="Are you sure want to delete this?"
                      md-content="<b>Note:</b> <br>After deleting this data you will not be able to restore it."
                      md-confirm-text="Agree"
                      md-cancel-text="Disagree"
                      @md-cancel="onCancel"
                      @md-confirm="onConfirm(item.id)" />

                    <md-button class="md-just-icon md-simple md-danger" @click="active = true">
                      <md-icon>delete</md-icon>
                      <md-tooltip md-direction="top">Delete</md-tooltip>
                    </md-button>
                  </md-table-cell>
                </md-table-row>
              </md-table>
              
              <rotate-square2 v-if="this.isLoading" style="margin: 20px auto 0 auto;"></rotate-square2>
            </div>
          </md-card-content>

        </md-card>
      </div>

    </div>
  </div>
</template>

<script>
import { AddUserForm, UserCard } from "@/pages";
import { SimpleTable } from "@/components";
import 'vue-material/dist/vue-material.min.css';
import 'vue-material/dist/theme/default.css';
import {RotateSquare2} from 'vue-loading-spinner';

import Vue from 'vue';
import axios from 'axios';
import VueAxios from 'vue-axios';
Vue.use(VueAxios, axios);

export default {
  components: {
    AddUserForm,
    UserCard,
    SimpleTable,
    RotateSquare2
  },
  name: "simple-table",
  props: {
    tableHeaderColor: {
      type: String,
      default: ""
    }
  },
  data(){
      return {
          users: [],
          type: ["", "info", "success", "primary", "warning", "danger"],
          status: null,
          active: false,
          value: null,

          isLoading: true
      }
  },
  methods: {
    fetchUserData(){
        console.log("%cFETCHING...", "color: purple;");
        axios
        .post('http://192.168.0.104:8003/graphql', {
          query: `
            query {
              user {
                id
                name
                email
                phone_number
              }
            }
          `
        },
        {
          headers: {
            'Content-type': 'application/json',
            'Authorization': 'bearer ' + localStorage.getItem('token')
          }
        })
        .then(response => {
          console.log(response)
          if(response){
            if(response.data.data.user){
              this.users = response.data.data.user
            }
          }else{
            this.users = null
          }

          this.isLoading = false;
        })
        .catch(error => console.log(error))
    },
    editUser: function(id){
      this.$router.push({path: 'edit_user', query: {userId: id}})
    },
    onCancel () {
      this.value = 'Disagreed'
    },
    onConfirm(id) {
      console.log(id)
    },
    deleteUser: function(id){
      console.log(id)
      axios.post('http://192.168.0.104:8003/graphql', {
        query: `
          mutation {
            deleteUser(id: ${id}){
              name
              email
              phone_number
            }
          }
        `
      },
      {
        headers: {
          'Content-type': 'application/json',
          'Authorization': 'bearer ' + localStorage.getItem('token')
        }
      })
      .then(r => {
          console.log(r);
          if(r){
            if(r['data']['data']['deleteUser']){
              this.$emit("refresh")
              this.status = 'success'
              this.icon = 'shield'
              this.message = 'User has been deleted.'
              this.notifyVue('bottom', 'center')
              this.fetchUserData()
              // this.$router.push({path: 'dashboard', query: {userId: id}})
            }
            if(r['data']['errors']){
              this.status = 'failed'
              this.icon = 'delete'
              this.message = 'Failed to delete user.'
              this.notifyVue('top', 'center')
            }
          }else{
            this.status = 'failed'
            this.icon = 'delete'
            this.message = 'Failed to delete user.'
            this.notifyVue('top', 'center')
          }
      }
    ).catch(() => alert("Failed to delete user."));
  },
  notifyVue(verticalAlign, horizontalAlign) {
    var color = 0;
    if(this.status == 'success'){
      color = 4
    }else{
      color = 5
    }
    this.$notify({
      message: this.message,
      icon: this.icon,
      horizontalAlign: horizontalAlign,
      verticalAlign: verticalAlign,
      type: this.type[color]
    });
  }
  },
  mounted () {
      this.fetchUserData();
  }  
};
</script>
