.md-datepicker-dialog.md-theme-default .md-datepicker-header {
    background-color: #9c27b0;
    background-color: #4caf50;
    color: #e12525;
    color: #ffffff;
}

.md-button, .md-button:hover, .md-button:focus, .md-button:active, .md-button.active, .md-button:active:focus, .md-button:active:hover, .md-button.active:focus, .md-button.active:hover, .open > .md-button.dropdown-toggle, .open > .md-button.dropdown-toggle:focus, .open > .md-button.dropdown-toggle:hover, .md-button.md-default, .md-button.md-default:hover, .md-button.md-default:focus, .md-button.md-default:active, .md-button.md-default.active, .md-button.md-default:active:focus, .md-button.md-default:active:hover, .md-button.md-default.active:focus, .md-button.md-default.active:hover, .open > .md-button.md-default.dropdown-toggle, .open > .md-button.md-default.dropdown-toggle:focus, .open > .md-button.md-default.dropdown-toggle:hover {
    background-color: #4caf50 !important;
    color: #FFFFFF !important;
}

.md-button.md-primary, .md-button.md-primary:hover, .md-button.md-primary:focus, .md-button.md-primary:active, .md-button.md-primary.active, .md-button.md-primary:active:focus, .md-button.md-primary:active:hover, .md-button.md-primary.active:focus, .md-button.md-primary.active:hover, .open > .md-button.md-primary.dropdown-toggle, .open > .md-button.md-primary.dropdown-toggle:focus, .open > .md-button.md-primary.dropdown-toggle:hover {
    background-color: #474747 !important;
    color: #FFFFFF !important;
}

.md-datepicker-dialog.md-theme-default .md-datepicker-day-button.md-datepicker-selected {
    background-color: #9c27b0;
    background-color: var(--md-theme-default-primary, #9c27b0);
    color: #090707;
}

@media (max-width: 600px){
    .md-datepicker-dialog {
        top: inherit; 
        transform: translate3D(-50%,0%,0);
        flex-direction: column;
        top: 100px!important;
        left: 50%!important;
        position: fixed !important;
    }
}